/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/components/NotFound/NotFound.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.NotFound_color-wrapper__N56_c {
  height: 100vh;
  padding: 25% 0;
}
.NotFound_error-contain__9CQ_L {
  margin: 0 50%;
  height: 350px;
  width: 300px;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
.NotFound_error-text__7ZfQE h1 {
  font-size: 100px !important;
  font-family: monospace;
  margin: 0;
  text-shadow: 1px 1px 1px #fff, -1px -1px 1px black;
}
.NotFound_error-text__7ZfQE {
  text-align: center;
  font-weight: bold;
}
.NotFound_error-text__7ZfQE p {
  font-family: monospace;
  font-size: 16px;
}
.NotFound_error-text__7ZfQE p:nth-child(3) {
  margin-top: 150px;
}
.NotFound_binoculars__Nc22t {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-60%, 20%);
  transition: 1s;
}
.NotFound_binoculars__Nc22t {
  /* 	animation-name: wiggle; */
  animation-duration: 10s;
  animation-delay: 5s;
  animation-iteration-count: infinite;
}

.NotFound_left-bino-lense__pps_C,
.NotFound_right-bino-lense__nRgBo {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 5px solid black;
  display: inline-block;
  transform: skewX(-10deg);
  background: white;
  overflow: hidden;
  position: relative;
}
.NotFound_left-bino-lense__pps_C {
  margin-right: 10px;
}
.NotFound_left-bino-lense__pps_C::before,
.NotFound_right-bino-lense__nRgBo::before {
  width: 20px;
  height: 20px;
  content: "";
  display: block;
  background: black;
  position: absolute;
  border: 3px solid #3066c9;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-70%, -55%);
  animation-name: NotFound_eye-move__toOuv;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-delay: 3s;
}

.NotFound_back-bino__tyOHD {
  width: 70px;
  height: 30px;
  background: black;
  position: absolute;
  top: 23px;
  left: 40px;
}
.NotFound_left-bino__CYi59,
.NotFound_right-bino__NsNPQ {
  position: absolute;
  height: 100px;
  width: 80px;
  perspective: 80px;
  transform: rotate(100deg);
  right: -25px;
  top: 1px;
}
.NotFound_right-bino__NsNPQ {
  left: -1px;
}

.NotFound_left-bino__CYi59::after,
.NotFound_right-bino__NsNPQ::after {
  content: "";
  padding: 21px;
  padding-top: 45px;
  position: absolute;
  border: 1px solid black;
  background: black;
  transform-style: preserve-3d;
  transform: rotateX(30deg);
  border-radius: 30% 80% 0 0;
  left: 1px;
  top: -4px;
}

.NotFound_left-bino-lense__pps_C .NotFound_eye__fB9_k {
  width: 100%;
  height: 100%;
}

.NotFound_eye__fB9_k::before,
.NotFound_eye__fB9_k::after {
  content: "";
  display: block;
  width: 45px;
  height: 26px;
  background: #f5cd8c;
  position: absolute;
  transition: 1s;
}
.NotFound_eye__fB9_k::before {
  border-radius: 50% 50% 0 0;
  border-bottom: 2px solid #b88c44;
  top: -30px;
  animation-name: NotFound_eye-up__lmlyA;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
.NotFound_eye__fB9_k::after {
  border-radius: 0 0 50% 50%;
  border-top: 2px solid #b88c44;
  bottom: -30px;
  animation-name: NotFound_eye-down__3Pnmq;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

.NotFound_binoculars__Nc22t:hover .NotFound_eye__fB9_k::after {
  bottom: -30px;
}
.NotFound_binoculars__Nc22t:hover .NotFound_eye__fB9_k::before {
  top: -30px;
}

@keyframes NotFound_eye-up__lmlyA {
  0% {
    top: -30px;
  }
  50% {
    top: -30px;
  }
  55% {
    top: -5px;
  }
  60% {
    top: -30px;
  }
}

@keyframes NotFound_eye-down__3Pnmq {
  0% {
    bottom: -30px;
  }
  50% {
    bottom: -30px;
  }
  55% {
    bottom: -3px;
  }
  60% {
    bottom: -30px;
  }
}

@keyframes NotFound_wiggle__8k99L {
  0% {
    transform: translate(-50%, -20%);
  }
  10% {
    transform: skew(-20deg) translate(-50%, -20%) rotate(20deg);
  }
  30% {
    transform: skew(20deg) translate(-50%, -20%) rotate(-20deg);
  }
  40% {
    transform: translate(-50%, -20%);
  }
  50% {
  }
}

@keyframes NotFound_eye-move__toOuv {
  0% {
    transform: translate(-70%, -55%);
  }
  10% {
    transform: translate(-90%, -90%);
  }
  20% {
    transform: translate(-60%, -110%);
  }
  30% {
    transform: translate(-20%, -20%);
  }
  40% {
    transform: translate(-60%, -0%);
  }
  50% {
    transform: translate(-70%, -55%);
  }
}

@media (max-width: 775px) {
  .NotFound_color-wrapper__N56_c {
    height: 100vh;
    padding: 25% 0;
  }
  .NotFound_error-contain__9CQ_L {
    height: 250px;
    width: 250px;
  }
  .NotFound_error-text__7ZfQE h1 {
    margin: -10px;
  }

  .NotFound_error-text__7ZfQE p:nth-child(3) {
    margin-top: 85px;
  }
}
@media (max-width: 580px) {
  .NotFound_color-wrapper__N56_c {
    padding: 35% 0;
  }
}
@media (max-width: 580px) {
  .NotFound_color-wrapper__N56_c {
    padding: 45% 0;
  }
}

/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/games/[id]/Game.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.Game_game__e7Yyk {
  padding: 72px 96px;
}

.Game_game__iframe__CEKJi {
  width: 100%;
  height: 100%;
  border: none;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}

.Game_about__KArKz {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 32px;
  gap: 32px;
  padding: 0 96px 72px;
}

.Game_about__title__NUaKz {
  grid-column: 1 / -1;
  font-size: 40px;
  text-transform: uppercase;
  position: relative;
}

.Game_about__title__NUaKz::after {
  content: "";
  display: block;
  position: absolute;
  background-color: yellow;
  width: 80px;
  height: 45px;
  z-index: -1;
  top: -10px;
  left: -20px;
  letter-spacing: 6%;
}

.Game_about__content__6h1Lj {
  border-right: 4px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  font-size: 20px;
  letter-spacing: 6%;
  padding-right: 20px;
}

.Game_about__accent__ZgsOO {
  font-weight: bold;
}

.Game_about__vote__vHCxI {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  font-size: 20px;
  letter-spacing: 6%;
}

.Game_about__vote-button__0lz0x:disabled {
  opacity: 0.5;
  pointer-events: none;
}

@media (max-width: 1200px) {
  .Game_game__e7Yyk {
    padding: 72px 32px;
  }

  .Game_about__KArKz {
    padding: 0 32px 72px;
  }
}

@media (max-width: 768px) {
  .Game_game__e7Yyk {
    padding: 40px 16px;
  }

  .Game_about__KArKz {
    grid-template-columns: 1fr;
    padding: 0 16px 40px;
  }

  .Game_about__title__NUaKz {
    font-size: 32px;
  }

  .Game_about__title__NUaKz::after {
    width: 60px;
    height: 35px;
    top: -8px;
    left: -16px;
  }

  .Game_about__content__6h1Lj {
    border-right: none;
  }
}
.Game_about__vote-button__0lz0x:disabled {
  opacity: 0.5;
  pointer-events: none;
}

